---
import NavLink from './NavLink.astro';

export type Props = {
  text: string;
  href: string;
};
const { text, href } = Astro.props as Props;
---

<div class="flex my-3 items-center">
  <NavLink class="text-xl font-sans text-gray-500 hover:underline hover:underline-offset-2 hover:decoration-1 md:text-base" href={href}>
    <svg
      class="h-8 w-8 text-gray-500"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z"></path>
      <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
      <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
      <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
    </svg>
  </NavLink>
  <svg
    class="h-4 w-4 text-gray-500"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z"></path> <polyline points="7 7 12 12 7 17"></polyline> <polyline points="13 7 18 12 13 17"></polyline></svg
  >
  <!--<div class="text-gray-500 text-xl font-sans md:text-base">::</div>-->
  <NavLink class="text-xl font-sans text-gray-500 hover:underline hover:underline-offset-2 hover:decoration-1 md:text-base" href={href}>
    {text}
  </NavLink>
</div>
