---
import siteConfig from '../data/site-config';
---

<header class="w-full max-w-2xl mx-auto mb-12 sm:mb-16">
  {
    siteConfig.logo && siteConfig.logo?.src ? (
      <a class="font-serif text-2xl leading-tight font-medium text-theme-foreground sm:text-4xl" href="/">
        <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="__max-h-12" />
      </a>
    ) : (
      <a class="font-serif text-2xl leading-tight font-medium text-theme-foreground sm:text-4xl" href="/">
        {siteConfig.title}
      </a>
    )
  }
  {siteConfig.subtitle && <p class="text-right text-md leading-tight mt-1 pr-4 sm:pr-8">{siteConfig.subtitle}</p>}
</header>
