---
export type Props = {
  title: string;
  nbsp?: boolean;
};
const { title, nbsp = false } = Astro.props as Props;
const formattedTitle = nbsp ? title.split(' ').join('&nbsp;') : title;
---

<div class="title-shell mb-8">
  <h1 set:html={formattedTitle} class="text-3xl text-center leading-tight font-serif font-medium sm:text-5xl sm:leading-tight title" />
</div>
