---
import ImageLinkList from './ImageLinkList.astro';
import type { ImageLink } from '../data/types';

export type Props = {
  list: ImageLink[];
};
const { list } = Astro.props as Props;
---

{
  (
    <section class="w-full flex flex-col gap-8 mb-16 sm:mb-24">
      <ImageLinkList list={list} />
    </section>
  )
}
